body {
  margin: 0;
  background-color: rgb(219, 219, 219);
}
.header-container{
  margin-bottom: 9rem;
}
.nav-container{
  background-color: #158852;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  font-weight: 800;
  padding: 1rem;
}
.logo-container{
  margin-left: 1rem;
}
.border-remove{
  --bs-card-border-color: 0;
}

.info-container{
  margin-top: 1rem;
}

.main-question-container{
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 800;
  font-size: larger;
  padding: 10;
  border-radius: 0.3rem;
}
.sub-question-container{
  font-weight: 600;
}
.next-button-container, .change-button-container, .email-container, .report-container, .padding-container{
    margin-top: 1rem;
}
.next-button-container, .change-button-container, .email-container, .report-container{
  margin-top: 1rem;
  width:410px;
}
.radio-spacing{
  padding-top:0.5rem ;
  padding-bottom:0.5rem ;
}
.footer-container{
  background-color: #158852;
  min-height: 4rem;
  margin-top: 3rem;
  min-width: 100%;
}
.result-container{
  font-size:0.93rem;
}
.vertical-container{
  vertical-align: middle;
}
.advice-anchortag{
  text-decoration: none;
}
